<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="AboutFrame">
		<title>About...</title>
		<size>422,295</size>
		<id_arg>0</id_arg>
		<style>wxSTAY_ON_TOP|wxCAPTION|wxCLOSE_BOX|wxMINIMIZE_BOX|wxTRANSPARENT_WINDOW</style>
		<object class="wxStaticBitmap" name="ID_STATICBITMAP1" variable="StaticBitmap1" member="yes">
			<bitmap>/home/owner/Desktop/wxENIGMA/Resources/EDE_about_banner.png</bitmap>
			<pos>8,-16</pos>
		</object>
	</object>
</wxsmith>
