<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="ProjectSettings">
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxNotebook" name="ID_NOTEBOOK1" variable="Notebook1" member="yes">
			<pos>272,192</pos>
			<object class="notebookpage">
				<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
					<pos>267,123</pos>
				</object>
				<label>General</label>
			</object>
			<object class="notebookpage">
				<object class="wxPanel" name="ID_PANEL2" variable="Panel2" member="yes">
					<pos>135,13</pos>
				</object>
				<label>Plugins</label>
			</object>
			<object class="notebookpage">
				<object class="wxPanel" name="ID_PANEL3" variable="Panel3" member="yes">
					<pos>238,12</pos>
				</object>
				<label>Systems</label>
			</object>
		</object>
	</object>
</wxsmith>
